
report/main\.log

report/main\.pdf

report/main\.synctex\.gz

*.aux


*.bin

*.rs~


model/osl-kompiled
model/*.rs

*.blg

*.c~

*.rs#

*.out

*.bbl

\.DS_Store

k

cfrontend/target
cfrontend/*.c

# Added by cargo

/target

*.c